@{
    ViewBag.Title = "- Contact Me";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" style="padding-top:100px;">
    <div class="title-wthree">
        <h3  style="text-align:center;">Contact Me</h3>
        
    </div>
    <div style="align-content:center; text-align:center;" oncontextmenu="return false;">
        <p style="text-align:center;">Reach out to me if you need any service from me</p>
        <h5 style="text-align:center;"><a href="mailto:nelakurthisowmya123@gmail.com">Nelakurthisowmya123@gmail.com</a></h5>
        <h5 style="text-align:center;">+91-9441817353</h5>
        <address style="font-size:20px;text-align:center;">
            JJ Homes,<br />
            Mugalivakkam,Chennai, <br />
            Tamilnadu.<br />
        </address>
    </div>
    <div>
        <div style="text-align:center;">

            <a href="https://www.facebook.com/sowmya.nelakurthi" class="fa fa-facebook"></a>
            <a href="https://twitter.com/SowmyaNelakurt1" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/sowmya_234/" class="fa fa-instagram "></a>
            <a href="https://www.linkedin.com/in/sowmya-nelakurthi-0895a316a/" class="fa fa-linkedin"></a>

        </div>
    </div>


</div>