<link rel="stylesheet" href="~/Scripts/CSS/Stylesheet.css" type="text/css" />

<nav class="navbar navbar-expand-lg  fixed-top " style="background-color:#9A1750 !important">
    <a class="navbar-brand navhead"  href="#">
        @Html.ActionLink("Sowmya", "Index", "Home", new
      { area = "" }, new { @class = "navbar-brand  textheading " })
    </a>
    <button class="navbar-toggler ml-auto navbar-dark"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText">
        <span class="navbar-toggler-icon my-toggler">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                @Html.ActionLink("Home", "Index", "Home", new { @class = " textheading"}) <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", new { @class = " textheading" })
            </li>
            <li class="nav-item">
               @Html.ActionLink("Contact", "Contact", "Home", new { @class = " textheading" })
            </li>
        </ul>

    </div>
</nav>

